.notification {
  color: yellow;
  position: relative;
  display: block;
  transition-property: opacity, max-width, max-height, padding;
  transition-duration: 5s, 5s, 5s;
  overflow: hidden;
  text-align: center;
  padding: 16px;
  max-width: 350px;
}

.show {
  opacity: 100;
  max-height: 300px;
}

.hide {
  max-height: 0px;
  padding: 0;
  opacity: 0;
}
