.notification {
  color: yellow;
  position: relative;
  transition-property: top, opacity, visibility;
  transition-duration: 5s;
  text-align: center;
  padding-top: 16px;
  padding-left: 64px;
  padding-right: 64px;
  background-color: rgba(0, 0, 0, 0.7);
}

.show {
  top: 10px;
  opacity: 100;
}

.hide {
  top: 50px;
  opacity: 0;
  visibility: hidden;
}
