@import url('https://fonts.googleapis.com/css?family=PT+Serif');

:root {
  background: #111111;
  color: white;
}

body {
  font-family: 'PT Serif';
}

button {
  background: rgba(0, 0, 0, 0.5);
  color: inherit;
  border: none;
  cursor: pointer;
  /* font: inherit; */
  padding: 6px;
  outline: inherit;
  border: 1px solid white;
  border-radius: 4px;
}

button:hover {
  background: rgba(255, 255, 255, 0.9);
  color: black;
}

.icon-button {
  border-radius: 16px;
  font-size: larger;
  border: none;
  width: 32px;
}

.text-icon-button {
  width: 100%;
  text-align: left;
}

canvas {
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
