@import url('https://fonts.googleapis.com/css?family=PT+Serif');

:root {
  background: #111111;
  color: white;
}

body {
  font-family: 'PT Serif';
}

button {
  background: #111111;
  border-radius: 4px;
  padding: 6px;
  transition: 0.2s;
}

button:enabled {
  color: white;
}

button:hover:enabled {
  border-color: #dddddd;
}

canvas {
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
